<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Shopping Cart</title>
    <style>
        td { text-align :center}
    </style>
   <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

</head>
<body>

    <button id="btnAdd" onclick="addToCart()" >Add To Cart</button>


</body>
</html>
<script>
console.log('working')
 if(localStorage.getItem('cart') == null){
 var cart = {};
 }
 else
 {
 cart = JSON.parse(localStorage.getItem('cart'));
 }
function addToCart() {
 var idstr = document.getElementById("btnAdd");
  if (cart[idstr]!= undefined){

  cart[idstr] = cart[idstr] + 1;
  }
  else
  {
   cart[idstr] = cart[idstr] = 1;
  }

  console.log('idstr')
  console.log(cart);
  localStorage.setItem('cart',JSON.stringify(cart));
};
</script>

