{% extends 'base/index.html' %} {% load static %} {% block pagecontent %}
<link href="{% static  'css/main.css' %}" rel="stylesheet">
<form method="post">

    {% csrf_token %}
    <div class="container">
            <h1>Register</h1>
            {{form.as_p}}
       
            <button type="submit" class="registerbtn">Register</button>
          </div> -->
        
          <div class="container signin">
            <p>Already have an account? <a href="{% url 'accounts:login'  %}">Login</a>.</p>
          </div>

</form>
{% endblock %}


