<!DOCTYPE HTML>  
<html>  
    <head>  
        <title>  
            Get the ID of the clicked button 
            using jQuery 
        </title> 
          
        <script src =  
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> 
        </script> 
    </head>  
      
    <body style = "text-align:center;"> 

            <input type="button" id="testbtn" value="Test">
            <button>Click me</button>
            <p>No handler here.</p>
            <script>
              let button = document.querySelector("button");
              button.addEventListener("click", () => {
                var buttonclicked = document.getElementById('testbtn');
                if( buttonclicked = true ) {
                    alert("Click  the button first");
                }
                else{
                alert("Button was clicked before");
             } 
                console.log("Button clicked.");
              });


      
            </script>


    </body>  
</html> 