{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="col-md-4">
  <div class="card" style="width: 25rem;">
    {% if instance.image %}
    <a href="/details/{{instance.pk}}/">
      <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title}} logo">
    </a>
    {% endif %}
    <div class="card-body">
  
      <h4 class="card-title" id ="title">{{ instance.product.title }}</h4>
      <p class="card-text">{{ instance.description|linebreaks|truncatewords:14 }}</p>
      <h4 class="card-price" id ="products">{{ instance.price }}</h4>
    
      <div>
     


    </div>
    </div>
  </div>
</div>
  

<style>

.card{
 margin-top: 20px;
}
</style>