 {% extends 'base/index.html' %} {% load static %} {% block pagecontent %}

<section class="page-section portfolio" id="portfolio">
  <div class="container">
     
    <div class="row">
      <div class="col-sm">

        <div class="card" style="width:40rem;">
          {% if instance.image %}
          <img src='{{instance.image.url }}' class='img-fluid' /> {% endif %}
          <div class="card-body">

         
            <h3>{{ instance.title }}</h3>
           <p> {{  instance.description|linebreaks }}</p>
           <h3>{{  instance.price}}</h3>
         
            <br/>
         

        </div>
      </div>

      
    </div>
    {% include 'products/coupon.html' %}

    <form method="POST" action=''>
      {% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-primary" type="submit">Apply</button>
    </form>
        {% include 'products/messages.html' %}
  </div>
    
  <script src =  
  "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> 
          </script> 
  
  
  <section>
    <div class="container">
      <h1> Size</h1>
    
  
      <p>Select the size of the product</p> 
      {% for obj in instance.details.all %}
  
      <button class="button button5"id="{{obj.id}}" >{{obj.value}}</button>
      {% empty %}
      <p>There is no Size availalble for this product</p>    
      {% endfor %}
      
      <p class="clickbtn">
    
        <form method='POST' action='/cart/{{ instance.id}}/' class="form my-2 my-lg-0 search-form">
          {% csrf_token %}
          <div class='input-group'>
            <input class="form-control" type="hidden" name="product_id" value='{{instance.pk}}'>
            <input class="form-control" type="hidden" name="product_title" value='{{instance.title}}'>
            <input class="form-control" type="hidden" name="product_price" value='{{instance.price}}'>
            <input type="hidden" name="sizeid" id="objid" value="">
            
            </div>
            <input type="submit" data-action="reply" id="btnclick"  class="btn btn-warning"  value="Add To Cart">

           
        </form>
       
      </p>          
  </div>      
  </div>


      
      <div>
        <p id="message" style="background-color: #ff6b6b;color: #f7fff7;width: 22%;height:50px;margin-bottom: 30px;
        font-size: 18px;
        text-align: center;"></p>
        </div>
  
  <div>

  </section>







  <script> 



    $(document).ready(function(){
      $("#message").hide();
      $("button").on('click',function() { 
        var t = (this.id); 
        document.getElementById('objid').value = t;
        fname=document.getElementById("objid").value;
        console.log(fname)
      });
    
      $("input[type='submit']").click(function(event) {
         event.preventDefault();
         var sizeid = $(this).parent().find("input[name='sizeid']").val();
         var pid = $(this).parent().find("input[name='product_id']").val();
         var ptitle = $(this).parent().find("input[name='product_title']").val();
         var pprice = $(this).parent().find("input[name='product_price']").val();
         if (sizeid  && pid  && ptitle &&  pprice ) {
          $.ajax({
            type:'POST',
            url:'{% url "cart:cart" instance.id %}',
            dataType: 'json',
            data:{
                size:sizeid,
                product_id:pid,
                product_title:ptitle,
                product_price:pprice,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(response){
               
            window.location.replace('{% url "products:list"  %}');
             
            },
            error : function(xhr,errmsg,err) {
             alert('i m not here')
        }
       
        });
           
          }
        else{
          alert('please select the size of the product')
        }
          
    
      });
      setTimeout(function(){ $('#message').hide(); }, 4000);
    
    });
    
      
    </script> 
    


{% endblock %}


